In [4]:
# Frequency
#shift + tab - for documentation of any method
# In pandas, crosstab() is used to compute a frequency table (contingency table) that shows how often combinations of categorical values occur.

import pandas as pd
df = pd.read_excel("survey.xls")
df

      Name Nationality     Sex  Age Handedness
0    Kathy         USA  Female   23      Right
1    Linda         USA  Female   18      Right
2    Peter         USA    Male   19      Right
3     John         USA    Male   22       Left
4   Fatima   Bangadesh  Female   31       Left
5    Kadir   Bangadesh    Male   25       Left
6   Dhaval       India    Male   35       Left
7   Sudhir       India    Male   31       Left
8   Parvir       India    Male   37      Right
9      Yan       China  Female   52      Right
10    Juan       China  Female   58       Left
11   Liang       China    Male   43       Left

In [3]:
pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.2-py2.py3-none-any.whl.metadata (3.5 kB)
Downloading xlrd-2.0.2-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
# like in this table right and left is coming aganin and again - we can replace it by numbers
# same goes for male and female  
# we are not changing any thing we are just couting it and making it more easy
pd.crosstab(df.Nationality, df.Handedness)

Handedness   Left  Right
Nationality
Bangadesh       2      0
China           2      1
India           2      1
USA             1      3

In [7]:
pd.crosstab(df.Nationality, df.Sex)

Sex          Female  Male
Nationality
Bangadesh         1     1
China             2     1
India             0     3
USA               2     2

In [8]:
pd.crosstab(df.Sex, df.Handedness)

Handedness  Left  Right
Sex
Female         2      3
Male           5      2

In [9]:
pd.crosstab(df.Nationality, df.Handedness, margins = True)

Handedness   Left  Right  All
Nationality
Bangadesh       2      0    2
China           2      1    3
India           2      1    3
USA             1      3    4
All             7      5   12

In [10]:
# we can make any col x-axic and y-axic
pd.crosstab(df.Nationality, [df.Handedness, df.Sex])

Handedness    Left       Right
Sex         Female Male Female Male
Nationality
Bangadesh        1    1      0    0
China            1    1      1    0
India            0    2      0    1
USA              0    1      2    1

In [11]:
pd.crosstab(df.Nationality, [df.Handedness, df.Sex], normalize = "index")

Handedness       Left               Right
Sex            Female      Male    Female      Male
Nationality
Bangadesh    0.500000  0.500000  0.000000  0.000000
China        0.333333  0.333333  0.333333  0.000000
India        0.000000  0.666667  0.000000  0.333333
USA          0.000000  0.250000  0.500000  0.250000

In [14]:
import numpy as np
pd.crosstab(df.Sex, [df.Handedness], values = df.Age, aggfunc= np.average)
#Avrage age of female who are left handed

Handedness  Left  Right
Sex
Female      44.5   31.0
Male        31.2   28.0