In [1]:
#Data frame is a main object in pandas, It is used to represent data with rows and columns(Tabular or excel
# Spreadsheet like data)

In [2]:
import pandas as pd

In [3]:
dp = pd.read_csv("nyc_weather.csv")

In [4]:
weather_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6, 7, 2, 7,4,2],
    'event':['Rain', 'Sunny', 'Snow','Snow', 'Rain', 'Sunny']
}

df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
rows, columns = df.shape
# this shapes means rows and col of a data frame

columns
rows

6

In [6]:
df.tail(4)

        day  temperature  windspeed  event
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [8]:
df.columns   #there is no df.rows

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [9]:
df['event'] #df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [10]:
type(df['event'])

pandas.core.series.Series

In [11]:
df[['event', 'day']]  #few col

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [12]:
df['temperature'].max()

np.int64(35)

In [13]:
df['temperature'].min()

np.int64(24)

In [14]:
df['temperature'].mean()

np.float64(30.333333333333332)

In [15]:
df.describe() # descriptive statistics that summarize the central tendency, dispersion, and shape of a datasetâ€™s distribution

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [16]:
#how to conditional select some data - like SQL 
df[df.temperature >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [17]:
df[df.temperature == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [18]:
df['day'][df.temperature == df['temperature'].max()]
# the day when the temperature is the maximum

1    1/2/2017
Name: day, dtype: object

In [19]:
df[['day', 'temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [20]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [21]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [22]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [23]:
df1 = df.set_index('day')

In [24]:
df1

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [25]:
df1.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [26]:
df1.reset_index(inplace=True)

In [27]:
df1

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [28]:
df.set_index('event', inplace = True)

In [29]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [35]:
df.loc['Snow']
#rows which we wants

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

In [31]:
# df.loc['32']
#this is going to give error