In [1]:
#We can use Python and Excel for data processing as well, but it will take forever to do so; therefore, we use Pandas.
# The Pandas library for Python was originally developed by Wes McKinney in 2008 while working at AQR Capital Management.
# He created it to provide a high-performance, flexible tool for data analysis and manipulation, especially for financial data. Later, it was released as open-source, and today it is maintained and improved by a large community of contributors under the PyData ecosystem.

import pandas as pd

In [3]:
df = pd.read_csv('nyc_weather.csv')
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [4]:
df['Temperature'].max()

np.int64(50)

In [5]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [6]:
df['WindSpeedMPH'].mean()

np.float64(6.892857142857143)

In [8]:
#The process of cleaning messy data is called data munging or data wrangling

df.fillna(0, inplace = True)

df['WindSpeedMPH'].mean()

np.float64(6.225806451612903)