In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("")  # First 1st way

In [ ]:
df = pd.read_excel("")  # samethings just for excelb

In [ ]:
#this is a disnary

weather_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6, 7, 2, 7,4,2],
    'event':['Rain', 'Sunny', 'Snow','Snow', 'Rain', 'Sunny']
}

In [ ]:
df = pd.DataFrame('weather_data')   # 2nd - use disnary

In [2]:
# 3th way is to by making Tuple 

Weather_data = [
    ('1/1/2017', 32, 5, 'Rain'),
    ('1/2/2017', 22, 7, 'Sunny'),
    ('1/3/2017', 31, 2, 'Rain'),
    ('1/4/2017', 12, 3, 'Snow')
]

df = pd.DataFrame(Weather_data, columns = ["day", "temperature",  "windspeed", "event"])
df

        day  temperature  windspeed  event
0  1/1/2017           32          5   Rain
1  1/2/2017           22          7  Sunny
2  1/3/2017           31          2   Rain
3  1/4/2017           12          3   Snow

In [6]:
# 4th way  - here we are using a list which represents one row
Weather_data = [
    {'day': '1/1/2017', 'temperature': 23, 'windspeed': 6, 'event':'Rain'},
    {'day': '1/1/2017', 'temperature': 23, 'windspeed': 6, 'event':'Rain'},
    {'day': '1/1/2017', 'temperature': 23, 'windspeed': 6, 'event':'Rain'},
    {'day': '1/1/2017', 'temperature': 23, 'windspeed': 6, 'event':'Rain'},
    {'day': '1/1/2017', 'temperature': 23, 'windspeed': 6, 'event':'Rain'}
]


df = pd.DataFrame(Weather_data)
df

        day  temperature  windspeed event
0  1/1/2017           23          6  Rain
1  1/1/2017           23          6  Rain
2  1/1/2017           23          6  Rain
3  1/1/2017           23          6  Rain
4  1/1/2017           23          6  Rain